* {
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container {
    width: 90%;
    max-width: 40rem;
    height: 100%;
    margin-top: 4rem;
}

footer {
    text-align: center;
}