  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

  $clr-primary: hsl(223, 87%, 63%);
  $clr-sec-blue: hsl(223, 100%, 88%);
  $clr-sec-red: hsl(354, 100%, 66%);

  $clr-natural-gray: hsl(0, 0%, 59%);
  $clr-natural-blue: hsl(209, 33%, 12%);

  /* Typography */

  $fontSize: 1.25rem;

  $fontFamily: "Libre Franklin", sans-serif;
  $fwThin: 300;
  $fwSemi: 600;
  $fwBold: 700;